<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="description" content="Play MIDI files from your browser with MidiPlayerJS" />
		<meta name="keywords" content="MIDI, music, player, javascript" />
		<title>Chordial Music</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{% static 'ChordialMusic/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'ChordialMusic/skeleton.css' %}">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
		<style type="text/css">
			body {background:#f8f8f9;}
			h1 {text-shadow:2px 3px 1px #ccc;}
			h1,h2,h3,h4 {font-family: 'Bree Serif', serif;}
			#select-file {display:none;}
		</style>
	</head>
	<body>

		<div class="container" style="padding-top:12px;">
			<div class="row">
				<div class="twelve columns">
					<h1>Chordial Music</h1>
					<h4>Choose a Midi File</h4>
					<p id="select-file">
						<form method="post" action="" enctype="multipart/form-data">
    						<input type="file" name="file" onchange="loadFile()" onclick="Player.stop()" />
							<input type="submit" value="Upload">
							{% csrf_token %}
						</form>


					</p>
					<p id="loading">Loading soundfont...</p>
					<div style="border:1px solid #ccc;margin-bottom:12px;background:#f7f7f7;">
						<div id="play-bar" style="height:20px;background:#33C3F0;width:0%;"></div>
					</div>
					<p>
						<button class="button button-primary" id="play-button" onclick="Player.isPlaying() ? pause() : play();" disabled="disabled">Play</button>
						<button class="button" onclick="stop()">Stop</button>
					</p>
					<hr />
					<p>
						Tempo: <span id="tempo-display"></span> bpm<br />
						<input type="range" onchange="Player.pause();Player.setTempo(this.value);Player.play()" min="50" max="200">
						<br />
						MIDI File Format: <span id="file-format-display"></span>
					</p>
					<div id="events" class="well"></div>

					<p hidden="true">

						<h1>Chord Progression 1 </h1>
						<p> {{song.original}} </p>
						<p> {{song.fileWithChords}} </p>
						<form name="form1" method="post" action="" enctype="multipart/form-data">
    						<input type="file" name="file1" onchange="loadFile1()" onclick="stop1()" />
							{% csrf_token %}
						</form>
						<form method="get" action="download_chord" enctype="multipart/form-data">
    						<input type="hidden" id ="song_id" onchange="getChordFile()" name="song_id" value="{{id}}">
							<input type="hidden" id ="original_song_id" onchange="getChordFile()" name="o_id" value="{{o_id}}">
							<input type="hidden" id ="song_pk" onchange="getChordFile()" name="o_id" value="{{pk}}">
							<input type="submit" value="Dowload">
						</form>

						<button class="button" onclick="getChordFile()">Load Songs to Player</button>
						<p id="loading-chord1">Loading soundfont...</p>
						<div style="border:1px solid #ccc;margin-bottom:12px;background:#f7f7f7;">
						<div id="play-bar-chord1" style="height:20px;background:#33C3F0;width:0%;"></div>
						</div>
						<p>
						<button class="button button-primary" id="play-button-chord1" onclick="Player1.isPlaying() ? pause1() : play1();" disabled="disabled">Play</button>
						<button class="button" onclick="stop1()">Stop</button>
						</p>
						<hr />
						<p>
						Tempo: <span id="tempo-display-chord1"></span> bpm<br />
						<input type="range" onchange="Player1.pause();Player1.setTempo(this.value);Player1.play()" min="50" max="200">
						<br />
						MIDI File Format: <span id="file-format-display-chord1"></span>
						</p>
					</p>
					<!--
					<h4>Tempo</h4>
					<p>
						<input id="test" type="range" min="50" max="200" value="100" onchange="changeTempo(this.value)" style="width:200px;" />
					</p>-->


				</div>
			</div>
		</div>

		<script src="{% static 'ChordialMusic/midiplayer.min.js' %}"></script>
		<script src="{% static 'ChordialMusic/soundfont-player.min.js' %}"></script>
		<script src="{% static 'ChordialMusic/player1.js' %}"></script>
		<script src="{% static 'ChordialMusic/player2.js' %}"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-1454657-6', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>

